@font-face {
  font-family: dinpro;
  src: url("../fonts/dinpro.otf");
}
@font-face {
  font-family: dinpro;
  src: url("../fonts/dinpro-bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: dinpro-medium;
  src: url("../fonts/dinpro-medium.ttf");
}
